<% layout('layouts/boilerplate')%>

<head>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<div class="mb-3">
    <h1>All Hotels</h1>
</div>

<div id="cluster-map" class="mb-4"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <% let index=0 %>
            <% for (index=0;index<hotels.length/3;index++){ %>
                <div class="card mb-3">
                    <div class="col">
                        <% if (hotels[index].images.length) { %> 
                            <img id="img1" class="img-fluid" src="<%= hotels[index].images[0].url%>" alt="">
                        <% }else{ %>
                            <img id="img1" src="https://res.cloudinary.com/dwsoizmbr/image/upload/v1657003870/YelpCamp/ndrwtndtt07kxmwmqpdg.jpg" alt="">
                        <% } %>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><%=hotels[index].title %></h5>
                            <p class="card-text"><%= hotels[index].description %></p>
                            <p class="card-text">
                                <small><%= hotels[index].location %></small>
                            </p>
                            <a href="hotels/<%= hotels[index]._id%>" class="btn btn-primary">View <%=hotels[index].title %></a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col">
            <% let index1=0 %>
            <% for (index1=index;index1<2*(hotels.length/3);index1++){ %>
                <div class="card mb-3">
                    <div class="col">
                        <% if (hotels[index1].images.length) { %> 
                            <img id="img1" class="img-fluid" src="<%= hotels[index1].images[0].url%>" alt="">
                        <% }else{ %>
                            <img id="img1" src="https://res.cloudinary.com/dwsoizmbr/image/upload/v1657003870/YelpCamp/ndrwtndtt07kxmwmqpdg.jpg" alt="">
                        <% } %>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><%=hotels[index1].title %></h5>
                            <p class="card-text"><%= hotels[index1].description %></p>
                            <p class="card-text">
                                <small><%= hotels[index1].location %></small>
                            </p>
                            <a href="hotels/<%= hotels[index1]._id%>" class="btn btn-primary">View <%=hotels[index1].title %></a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col">
            <% let index2=0 %>
            <% for (index2=index1;index2<hotels.length;index2++){ %>
                <div class="card mb-3">
                    <div class="col">
                        <% if (hotels[index2].images.length) { %> 
                            <img id="img1" class="img-fluid" src="<%= hotels[index2].images[0].url%>" alt="">
                        <% }else{ %>
                            <img id="img1" src="https://res.cloudinary.com/dwsoizmbr/image/upload/v1657003870/YelpCamp/ndrwtndtt07kxmwmqpdg.jpg" alt="">
                        <% } %>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><%=hotels[index2].title %></h5>
                            <p class="card-text"><%= hotels[index2].description %></p>
                            <p class="card-text">
                                <small><%= hotels[index2].location %></small>
                            </p>
                            <a href="hotels/<%= hotels[index2]._id%>" class="btn btn-primary">View <%=hotels[index2].title %></a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const hotels = {features: <%- JSON.stringify(hotels) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>